// ----- General styles ----- //
$accent-color-dark: #0C63B4;
$accent-color-light: #85CBD7;
$base-color: #1A1A1A;
$error-color: #FF2600;
$error-color-dark: #BA432E;
$soft-color: #F2F2F2;

// $xs: 
$sm: 576px;
$smmax: 575px;
$md: 768px;
$mdmax: 767px;
$lg: 992px;
$lgmax: 991px;
$xl: 1200px;
$xlmax: 1199px;
$xxl: 1440px;
$xxlmax: 1439px;

*, *:after, *:before {
    background-color: unset;
    border: unset;
    box-sizing: border-box;
    list-style: none;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

html {
    font-size: 62.5%;
}

html {
    overflow: auto;
}

body {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    font-size: 1.8rem;
    font-weight: normal;
    max-width: 100vw;
    min-height: 100vh;
    overflow-x: hidden;
    width: 100%;
}

h2, h3, h4, h5, h6 {
    font-family: 'Raleway', sans-serif;
}

h3 {
    font-size: 4.8rem;
    font-weight: 300;
    padding-bottom: 11rem;
    padding-top: 3rem;
    text-align: center;
    @media screen and (max-width: $mdmax) {
        font-size: 3.2rem;
        padding-bottom: 5rem;
    }
}

a {
    color: $base-color;
    &:visited {
        color: inherit;
    }
}

small {
    font-weight: 100;
    font-size: 1.8rem;
}

.underline {
    text-decoration: underline;
}

.container {
    margin: 0 auto;
    max-width: 1440px;
    padding-left: 11rem!important;
    padding-right: 11rem!important;
    width: 100%;
    @media screen and (max-width: $xxlmax) {
        max-width: 1200px;
        padding-left: 5rem!important;
        padding-right: 5rem!important;    
    }
    @media screen and (max-width: $xlmax) {
        max-width: 900px;
        padding-left: 2rem!important;
        padding-right: 2rem!important;    
    }
}

.hidden--mobile {
    display: none;
    @media screen and (min-width: $md) {
        display: flex;
    }
}

.hidden--desktop {
    display: none;
    @media screen and (max-width: $mdmax) {
        display: block;
    }
}

.circle {
    position: relative;
    &:after {
        background-color: rgba($error-color-dark, 0.2);
        border-radius: 50%;
        content: '';
        display: block;
        height: 5rem;
        position: absolute;
        right: -2rem;
        top: 2rem;
        width: 5rem;
    }
}

@keyframes updown {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(7px);
    }
}

.button {
    border-radius: 5px;
    display: block;
    font-size: 1.6rem;
    font-weight: 600;
    padding: 1rem 2rem;
    &:visited {
        color: inherit;
    }
}

.button--primary {
    background-color: transparent;
    border: 2px solid $accent-color-dark;
    color: $accent-color-dark;
    transition: background-color .3s ease, color .3s ease;
    &:hover {
        background-color: $accent-color-dark;
        color: #fff!important;
    }
}

.button--secondary {
    background-color: $accent-color-light;
    border: 2px solid $accent-color-light;
    color: #fff;
    transition: background-color .3s ease, border .3s ease;
    &:hover {
        background-color: $accent-color-dark;
        border: 2px solid $accent-color-dark;
    }
}

.arrow {
    animation: updown 1s infinite alternate ease-in-out;
    background-color: $base-color;
    display: block;
    height: 22px;
    position: relative;
    width: 2px;
    &:after {
        background-color: $base-color;
        bottom: -2px;
        content: '';
        display: block;
        height: 10px;
        left: -3px;
        position: absolute;
        transform: rotate(135deg);
        width: 2px;
    }
    &:before {
        background-color: $base-color;
        bottom: -2px;
        content: '';
        display: block;
        height: 10px;
        left: 3px;
        position: absolute;
        transform: rotate(-135deg);
        width: 2px;
    }
}

.logo {
    font-size: 2rem;
    font-weight: 900;
    .logo--dot {
        color: $accent-color-dark;
    }
}

// ----- HEADER ----- //
.header {
    background-color: rgba(#fff, 0.9);
    position: fixed;
    width: 100%;
    z-index: 5;
}

// Alert
.alert {
    background-color: $soft-color;
    height: 100%;
    overflow: hidden;
    transform: scaleY(1);
    transform-origin: top;
    transition:  transform 0.5s linear,  height 0.5s linear;
    &.close {
        height: 0;
        transform: scaleY(0);
        transition:  transform 0.5s linear,  height 0.5s linear;
    }
    &.closed {
        display: none;
    }
    .alert__ctn {
        align-items: center;
        display: flex;
        justify-content: space-between;
        padding-bottom: 1rem;
        padding-top: 1rem;
        .alert__important {
            border: 3px solid $base-color;
            border-radius: 50%;
            height: 30px;
            width: 30px;
            i {         
                color: $base-color;
                font-size: 1.4rem;
                padding: 6px 10px;   
            }
        }
        .alert__text {
            font-size: 1.6rem;
            padding: 0 2rem;
            text-align: center;
        }
        .alert__close {
            cursor: pointer;
            font-size: 2.4rem;
            transition: color .3s ease;
            &:hover {
                color: $error-color-dark;
            }
        }
    }
}

// nav
.menu {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 2rem 0;
    position: relative;
    @media screen and (max-width: $mdmax) {
        padding: 1rem 0;
    }
    .menu__toggle {
        align-items: center;
        cursor: pointer;        
        display: none;
        height: 3rem;
        justify-content: center;
        width: 2.5rem;
        @media screen and (max-width: $mdmax) {
            display: flex;
        }
        .menu__toggle__bars {
            background-color: $base-color;
            display: block;
            height: 3px;
            position: relative;
            transition: transform .3s ease;         
            width: 2.5rem;
            &:after {
                background-color: $base-color;    
                content: '';
                display: block;
                height: 3px;
                position: absolute;
                top: 7px;
                width: 2.5rem;
            }
            &:before {
                background-color: $base-color;    
                content: '';
                display: block;
                height: 3px;
                position: absolute;
                top: -7px;
                width: 2.5rem;
            }
        }
        &.menu__toggle--close {
            .menu__toggle__bars {
                transform: rotate(45deg);     
                transition: transform .3s ease;         
                &:after {
                    top: 0;
                    transform: rotate(90deg);              
                }
                &:before {
                    top: 0;
                    transform: rotate(-90deg);                              
                }
            }
        }
    }
    .menu__toggle.menu__toggle--close + .menu__list {
        right: 0;
        transition: right .3s ease;
    }
    .menu__list {
        display: flex;
        @media screen and (max-width: $mdmax) {
            background-color: $base-color;
            color: $soft-color;
            flex-direction: column;
            overflow: hidden;
            padding: 1rem;
            position: absolute;
            right: -100%;
            text-align: center;
            top: 5rem;
            transition: right .3s ease;
            width: 100%;
        }
        .menu__list__link {
            color: $base-color;
            display: block;
            font-size: 1.6rem;
            padding: 1rem 2rem;
            position: relative;
            &:after {
                background: $base-color;
                bottom: 0;
                content: '';
                height: 2px;
                left: 10%;
                position: absolute;
                transition: width .3s ease;
                width: 0;
            }
            @media screen and (max-width: $lgmax) {
                padding: 1rem 1.5rem;
            }
            @media screen and (max-width: $mdmax) {
                color: $soft-color;
                padding: 2rem;
            }
            &:visited {
                color: inherit;
            }
            &:hover:after {
                width: 80%;
            }
            &.button--primary {
                margin-left: 5rem;
                @media screen and (max-width: $lgmax) {
                    margin-left: 2rem;
                } 
                @media screen and (max-width: $mdmax) {
                    border-color: rgba($accent-color-light, 0.8);
                    color: rgba($accent-color-light, 0.8);
                    margin-left: 0;
                }
                &:after {
                    content: unset;
                }
            }
        }
    }
}

// ----- MAIN ----- //
.main {
    margin: 0 auto;
    max-width: 2000px;
    padding-top: 13rem;
    width: 100%;
    // Title
    .title {
        position: relative;
        &:before {
            background: $soft-color;
            background-image: url('../images/home/title.jpg');
            background-position: center center;
            background-repeat: no-repeat;
            background-size: cover;
            content: '';
            display: block;
            height: 100%;
            left: 0;
            position: absolute;
            width: 50%;
        }
        &:after {
            background-image: url("data:image/svg+xml,%3Csvg width='728' height='144' viewBox='0 0 728 144' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0 72H30.3333C60.6667 72 121.333 72 182 62.4C242.667 52.8 303.333 33.6 364 24C424.667 14.4 485.333 14.4 546 12C606.667 9.6 667.333 4.8 697.667 2.4L728 0V144H697.667C667.333 144 606.667 144 546 144C485.333 144 424.667 144 364 144C303.333 144 242.667 144 182 144C121.333 144 60.6667 144 30.3333 144H0V72Z' fill='white'/%3E%3C/svg%3E");
            background-position: top center;
            background-repeat: no-repeat;
            background-size: cover;
            bottom: 0;
            content: '';
            display: block;
            height: 20rem;
            left: 0;
            position: absolute;
            width: 100%;
        }
        @media screen and (max-width: $xxlmax) {
            &:after {
                height: 14rem;
            }
        }
        @media screen and (max-width: $smmax) {
            &:before {
                content: unset;
            }
            &:after {
                content: unset;
            }
        }
        .title__text__ctn {
            margin-left: auto;
            padding: 15rem 0 17rem 0;
            position: relative;
            text-align: right;
            width: calc(50% + 3rem);
            z-index: 2;
            .title__pill {
                background-color: $accent-color-dark;
                border-radius: 50px;
                color: #fff;
                display: inline-block;
                font-size: 2rem;
                padding: 0.5rem 2rem;
                text-transform: uppercase;
                width: auto;
            }
            .title__text {
                font-size: 7rem;
                font-weight: 300;
                .title__text--highlight {
                    color: $error-color-dark;
                }
            }
            @media screen and (max-width: $lgmax) {
                .title__text {
                    font-size: 5.2rem;
                }
            }
            @media screen and (max-width: $mdmax) {
                .title__pill {
                    font-size: 1.6rem;
                }
                .title__text {
                    font-size: 4.8rem;
                }
            }
            @media screen and (max-width: $smmax) {
                padding: 5rem 0 7rem 0;
                text-align: center;
                width: 100%;
                .title__text {
                    font-size: 3.6rem;
                    padding-top: 3rem;
                }
            }
        }
        .title__link {
            align-items: center;
            background: #FFFFFF;
            border-radius: 50%;
            bottom: 7rem;
            box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
            display: block;
            font-size: 2.4rem;
            height: 120px;
            margin: 0 auto;
            padding-top: 4rem;
            position: relative;
            text-align: center;
            transition: box-shadow .3s ease;
            width: 120px;
            z-index: 3;
            &:hover {
                box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            }
            @media screen and (max-width: $xxlmax) {
                bottom: 3rem;
            }
            @media screen and (max-width: $smmax) {
                bottom: unset;
            }
            .arrow {
                margin: 0 auto;
            }
            &:hover .arrow {
                animation-play-state: paused;
            }
        }
    }
    // Process
    .process {
        padding: 6rem 0 11rem 0;
        .process__list {
            column-gap: 11rem;
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            row-gap: 6rem;
            @media screen and (max-width: $xxlmax) {
                column-gap: 6rem;
            }
            @media screen and (max-width: $mdmax) {
                grid-template-columns: repeat(2, 1fr);
            }
            @media screen and (max-width: $smmax) {
                grid-template-columns: repeat(1, 1fr);
            }
            .process__item {
                .process__item__header {
                    display: flex;
                    justify-content: space-between;
                    padding-bottom: 4rem;
                    &:before {
                        background-color: rgba($accent-color-light, 0.15);
                        content: '';
                        display: block;
                        height: 6rem;
                        position: absolute;
                        width: 2rem;
                    }
                    &.process__item__header--highlight:before {
                        background-color: rgba($error-color-dark, 0.2);
                    }
                    .process__item__image {
                        height: 3rem;
                        margin: 1rem;
                        width: 3rem;
                    }
                    .process__item__title {
                        font-size: 2.4rem;
                        font-weight: 500;
                    }
                }
            }
        }
    }
    // Proyects
    .proyects {
        background-color: $soft-color;
        padding-bottom: 11rem;
        position: relative;
        &:before {
            background-image: url("data:image/svg+xml,%3Csvg width='1440' height='71' viewBox='0 0 1440 71' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M1440 0L1380.04 1.15918C1320.07 2.31837 1200.15 4.78163 1080.22 4.78163C960.294 4.78163 840.367 2.31837 719.559 5.94082C599.633 9.41837 479.706 18.9816 359.78 26.0816C239.853 33.1816 119.927 37.8184 59.9633 40.2816L0 42.6V71H59.9633C119.927 71 239.853 71 359.78 71C479.706 71 599.633 71 719.559 71C840.367 71 960.294 71 1080.22 71C1200.15 71 1320.07 71 1380.04 71H1440V0Z' fill='%23F2F2F2'/%3E%3C/svg%3E%0A");
            background-position: top center;
            background-repeat: no-repeat;
            background-size: cover;
            content: '';
            display: block;
            height: 7rem;
            left: 0;
            position: absolute;
            top: -7rem;
            width: 100%;
        }
        .container {
            .proyects__content {
                display: flex;
                @media screen and (max-width: $lgmax) {
                    flex-direction: column;
                }
                .proyects__image__ctn {
                    border-radius: 5px;
                    height: 0;
                    overflow: hidden;
                    padding-bottom: 40%;
                    padding-right: 5.5rem;
                    width: 50%;
                    @media screen and (max-width: $xlmax) {
                        padding-right: 2rem;
                        width: 35%;
                    }
                    @media screen and (max-width: $lgmax) {
                        height: auto;
                        padding: unset;
                        width: 100%;
                    }
                    .proyects__image {
                        max-width: 100%;
                    }
                }
                .proyects__text__ctn {
                    align-items: flex-start;
                    display: flex;
                    flex-direction: column;
                    padding-left: 5.5rem;
                    width: 50%;
                    @media screen and (max-width: $xlmax) {
                        padding-left: 2rem;
                        width: 65%;
                    }
                    @media screen and (max-width: $lgmax) {
                        padding-left: unset;
                        padding-top: 5rem;
                        width: 100%;
                    }
                    .proyects__text__title {
                        border-bottom: 2px solid $base-color;
                        font-family: 'Roboto', sans-serif;
                        font-size: 2.6rem;
                        font-weight: 500;
                        padding-bottom: 2rem;
                        width: 100%;
                        @media screen and (max-width: $xlmax) {
                            font-size: 2.2rem;
                        }
                        @media screen and (max-width: $lgmax) {
                            font-size: 2.6rem;
                        }
                    }
                    .proyects__text__date {
                        align-self: end;
                        padding: 2rem 0 4rem 0;
                    }
                    .proyects__text {
                        padding-bottom: 2rem;
                    }
                    .button--primary {
                        align-self: end;
                        margin-top: auto;
                    }
                }
            }
        }
    }
    .data {
        background: $base-color;
        .data__list {
            display: flex;
            justify-content: space-between;
            padding: 15rem 0 15rem 0;
            @media screen and (max-width: $lgmax) {
                align-items: center;
                flex-direction: column;
            }
            .data__text {
                color: $soft-color;
                font-family: 'Raleway', sans-serif;
                font-size: 3.2rem;
                font-weight: 300;
                max-width: 25rem;
                padding: 5rem 0;
                @media screen and (max-width: $lgmax) {
                    max-width: unset;
                    text-align: center;
                }
                .data__number {
                    color: $accent-color-light;
                    display: block;
                    font-size: 5.6rem;
                    font-weight: 500;
                }
            }
        }
    }
    .clients {
        padding: 11rem 0;
        .slide {
            align-items: flex-start;
            background: $soft-color;
            border-radius: 16px;
            display: flex;
            justify-content: center;
            margin: 0 auto;
            max-width: 960px;
            padding: 4.2rem 8.4rem 4.2rem 4.2rem;
            position: relative;
            &::before, &::after {
                color: $accent-color-light;
                font-family: "FontAwesome";
                font-size: 9.6rem;
                position: absolute;
            }
            &::before {
                content: '\f10d';
                left: -3.2rem;
                top: -4rem;
            }
            &::after {
                bottom: -4rem;
                content: '\f10e';
                right: -3.2rem;
            }
            @media screen and (max-width: $lgmax) {
                &::before, &::after {
                    font-size: 4.8rem;
                }
                &::before {
                    left: -1.2rem;
                    top: -2rem;
                }
                &::after {
                    bottom: -2rem;
                    right: -1.2rem;
                }       
             }
             @media screen and (max-width: $mdmax) {
                align-items: center;   
                flex-direction: column;
                padding: 4.8rem;
             }
             @media screen and (max-width: $smmax) {
                padding: 4.8rem 2.4rem;
             }
            .slide__img__ctn {
                background-image: url('../images/home/clients/client_1.jpg');
                background-repeat: no-repeat;
                background-size: cover;
                border-radius: 50%;
                flex-shrink: 0;
                height: 11rem;
                margin: 1.2rem 3rem 0 0;
                width: 11rem;
                @media screen and (max-width: $mdmax) {
                    margin: 0 0 3rem 0;
                }
            }
            .slide__name {
                display: block;
                padding-top: 4.2rem;
                text-align: right;
                .slide__name--title {
                    display: block;
                    font-style: italic;
                    font-weight: 300;
                }
            }
        }
    }
    .contact {
        background-color: $soft-color;
        padding: 11rem 0;
        padding-bottom: 32rem;
        position: relative;
        text-align: left;
        &::after {
            background: url('../images/home/contact.png') bottom right no-repeat;
            bottom: 0;
            content: '';
            height: 100%;
            position: absolute;
            right: 0;
            width: 100%;
            @media screen and (max-width: $xlmax) {
                content: unset;
            }
        }
        .container {
            position: relative;
            z-index: 1;
            .contact__content {
                width: 50%;
                @media screen and (max-width: $xlmax) {
                    width: 100%;
                }
            }
            .button--secondary {
                display: inline-block;
                margin-top: 5.6rem;
            }
        }
    }
}


// ----- FOOTER ----- //
.footer {
    margin-top: auto;
    padding: 2rem 0 2rem 0;
    position: relative;  
    &:after {
        background: url("data:image/svg+xml,%3Csvg width='1440' height='143' viewBox='0 0 1440 143' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0 0.599998L59.9633 2.91837C119.927 5.23673 239.853 10.1633 359.78 10.1633C479.706 10.1633 599.633 5.23673 720.441 12.4816C840.367 19.4367 960.294 38.5633 1080.22 52.7633C1200.15 66.9633 1320.07 76.2367 1380.04 81.1633L1440 85.8V142.6H1380.04C1320.07 142.6 1200.15 142.6 1080.22 142.6C960.294 142.6 840.367 142.6 720.441 142.6C599.633 142.6 479.706 142.6 359.78 142.6C239.853 142.6 119.927 142.6 59.9633 142.6H0V0.599998Z' fill='white'/%3E%3C/svg%3E%0A") no-repeat;
        background-position: top center;
        background-size: cover;
        content: '';
        display: block;
        height: 13rem;
        left: 0;
        position: absolute;
        top: -12rem;
        width: 100%;
    }    
    .footer__menu {
        border-bottom: 2px solid $base-color;
        .footer__menu__list {
            padding: 3rem 0 2rem 0;
            .footer__menu__list__item {
                display: inline-block;
                font-size: 1.6rem;
                padding: 1rem 0.5rem;
                text-transform: uppercase;
                &:first-child {
                    padding-left: 0;
                }
                &:after {
                    content: ' | ';
                    padding-left: 1rem;
                }
                &:last-child:after {
                    content: unset;
                }
                @media screen and (max-width: $smmax) {
                    display: block;
                    padding: 1rem 0;
                    &:after {
                        content: unset;
                    }
                }
                .footer__menu__list__link {
                    color: $base-color;
                    transform: color .3s ease;
                    &:visited {
                        color: $base-color;
                    }
                    &:hover {
                        color: $accent-color-dark;
                    }
                    &.menu__list__link--active {
                        font-weight: bold;
                    }
                }
            }
        }
    }
    .footer__contact {
        align-items: flex-end;
        display: flex;
        justify-content: space-between;
        @media screen and (max-width: $mdmax) {
            align-items: flex-start;
            flex-direction: column;
            justify-content: flex-start;
        }
        .footer__contact__details {
            padding: 3rem 0 2rem 0;
            .footer__contact__details__text {
                padding-bottom: 2rem;
            }
        }
        .footer__socials {
            align-items: center;
            display: flex;
            justify-content: space-between;
            @media screen and (max-width: $mdmax) {
                margin: 0 auto;
                width: 60%;
            }
            @media screen and (max-width: $smmax) {
                width: 100%;
            }
            .footer__menu__list__link {
                background-color: transparent;
                border-radius: 50%;
                color: $base-color;
                display: inline-block;
                height: 6rem;
                font-size: 2.2rem;
                margin: 0 1rem;
                padding: 1.8rem;
                text-align: center;
                transition: background-color .3s ease, color .3s ease;
                width: 6rem;
                &:hover {
                    background-color: rgba($accent-color-dark, 0.2);
                }
                @media screen and (max-width: $smmax) {
                    height: 4rem;
                    margin: 0 1rem;
                    width: 4rem;
                    &:hover {
                        background-color: transparent;
                        color: $accent-color-light;
                    }
                }
            }
        }
    }
    .footer__copyright {
        font-size: 1.4rem;
        padding-top: 3rem;
        text-align: center;
    }
}