*, *:after, *:before {
  background-color: unset;
  border: unset;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

html {
  font-size: 62.5%;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: 'Roboto', sans-serif;
  font-size: 1.8rem;
  font-weight: normal;
  overflow: hidden;
}

h2, h3, h4, h5, h6 {
  font-family: 'Raleway', sans-serif;
}

h1 {
  font-size: 2rem;
  font-weight: 900;
}

.underline {
  text-decoration: underline;
}

.container {
  margin: 0 auto;
  max-width: 1440px;
  padding-left: 2rem !important;
  padding-right: 2rem !important;
  width: 100%;
}

@media screen and (max-width: 1439px) {
  .container {
    max-width: 1200px;
  }
}

@media screen and (max-width: 1199px) {
  .container {
    max-width: 900px;
  }
}

.hidden--mobile {
  display: none;
}

@media screen and (min-width: 768px) {
  .hidden--mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.hidden--desktop {
  display: none;
}

@media screen and (max-width: 767px) {
  .hidden--desktop {
    display: block;
  }
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
    visibility: visible;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
    visibility: visible;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

.alert {
  background-color: #F2F2F2;
  height: 100%;
  overflow: hidden;
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
  -webkit-transform-origin: top;
          transform-origin: top;
  -webkit-transition: height 0.5s linear,  -webkit-transform 0.5s linear;
  transition: height 0.5s linear,  -webkit-transform 0.5s linear;
  transition: transform 0.5s linear,  height 0.5s linear;
  transition: transform 0.5s linear,  height 0.5s linear,  -webkit-transform 0.5s linear;
}

.alert.close {
  height: 0;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  -webkit-transition: height 0.5s linear,  -webkit-transform 0.5s linear;
  transition: height 0.5s linear,  -webkit-transform 0.5s linear;
  transition: transform 0.5s linear,  height 0.5s linear;
  transition: transform 0.5s linear,  height 0.5s linear,  -webkit-transform 0.5s linear;
}

.alert.closed {
  display: none;
}

.alert .alert__ctn {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 1rem;
  padding-top: 1rem;
}

.alert .alert__ctn .alert__important {
  border: 3px solid #1A1A1A;
  border-radius: 50%;
  height: 30px;
  width: 30px;
}

.alert .alert__ctn .alert__important i {
  color: #1A1A1A;
  font-size: 1.4rem;
  padding: 6px 10px;
}

.alert .alert__ctn .alert__text {
  font-size: 1.6rem;
  padding: 0 2rem;
  text-align: center;
}

.alert .alert__ctn .alert__close {
  cursor: pointer;
  font-size: 2.4rem;
}

.menu {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 2rem 0;
  position: relative;
}

@media screen and (max-width: 767px) {
  .menu {
    padding: 1rem 0;
  }
}

.menu .menu__logo .menu__logo--dot {
  color: #0C63B4;
}

.menu .menu__toggle {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  display: none;
  height: 3rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 2.5rem;
}

@media screen and (max-width: 767px) {
  .menu .menu__toggle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.menu .menu__toggle .menu__toggle__bars {
  background-color: #1A1A1A;
  display: block;
  height: 3px;
  position: relative;
  -webkit-transition: -webkit-transform .3s ease;
  transition: -webkit-transform .3s ease;
  transition: transform .3s ease;
  transition: transform .3s ease, -webkit-transform .3s ease;
  width: 2.5rem;
}

.menu .menu__toggle .menu__toggle__bars:after {
  background-color: #1A1A1A;
  content: '';
  display: block;
  height: 3px;
  position: absolute;
  top: 7px;
  width: 2.5rem;
}

.menu .menu__toggle .menu__toggle__bars:before {
  background-color: #1A1A1A;
  content: '';
  display: block;
  height: 3px;
  position: absolute;
  top: -7px;
  width: 2.5rem;
}

.menu .menu__toggle.menu__toggle--close .menu__toggle__bars {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition: -webkit-transform .3s ease;
  transition: -webkit-transform .3s ease;
  transition: transform .3s ease;
  transition: transform .3s ease, -webkit-transform .3s ease;
}

.menu .menu__toggle.menu__toggle--close .menu__toggle__bars:after {
  top: 0;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.menu .menu__toggle.menu__toggle--close .menu__toggle__bars:before {
  top: 0;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.menu .menu__toggle.menu__toggle--close + .menu__list {
  right: 0;
  -webkit-transition: right .3s ease;
  transition: right .3s ease;
}

.menu .menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 767px) {
  .menu .menu__list {
    background-color: #1A1A1A;
    color: #F2F2F2;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    overflow: hidden;
    padding: 1rem;
    position: absolute;
    right: -100%;
    text-align: center;
    top: 5rem;
    -webkit-transition: right .3s ease;
    transition: right .3s ease;
    width: 100%;
  }
}

.menu .menu__list .menu__list__link {
  color: #1A1A1A;
  display: block;
  font-size: 1.6rem;
  padding: 1rem 2rem;
}

@media screen and (max-width: 991px) {
  .menu .menu__list .menu__list__link {
    padding: 1rem 1.5rem;
  }
}

@media screen and (max-width: 767px) {
  .menu .menu__list .menu__list__link {
    color: #F2F2F2;
    padding: 2rem;
  }
}

.menu .menu__list .menu__list__link:visited {
  color: inherit;
}

.menu .menu__list .menu__list__link.menu__list__link--highlight {
  border: 2px solid #0C63B4;
  border-radius: 5px;
  color: #0C63B4;
  margin-left: 5rem;
}

@media screen and (max-width: 991px) {
  .menu .menu__list .menu__list__link.menu__list__link--highlight {
    margin-left: 2rem;
  }
}

@media screen and (max-width: 767px) {
  .menu .menu__list .menu__list__link.menu__list__link--highlight {
    border-color: rgba(133, 203, 215, 0.8);
    color: rgba(133, 203, 215, 0.8);
    margin-left: 0;
  }
}

.menu .menu__list .menu__list__link.menu__list__link--highlight:visited {
  color: inherit;
}
/*# sourceMappingURL=index.css.map */