// ----- General styles ----- //
$accent-color-dark: #0C63B4;
$accent-color-light: #85CBD7;
$base-color: #1A1A1A;
$error-color: #FF2600;
$error-color-dark: #BA432E;
$soft-color: #F2F2F2;

// $xs: 
$sm: 576px;
$smmax: 575px;
$md: 768px;
$mdmax: 767px;
$lg: 992px;
$lgmax: 991px;
$xl: 1200px;
$xlmax: 1199px;
$xxl: 1440px;
$xxlmax: 1439px;

*, *:after, *:before {
    background-color: unset;
    border: unset;
    box-sizing: border-box;
    list-style: none;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

html {
    font-size: 62.5%;
}

html {
    overflow: auto;
}

body {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    font-size: 1.8rem;
    font-weight: normal;
    max-width: 100vw;
    min-height: 100vh;
    overflow-x: hidden;
    width: 100%;
}

h2, h3, h4, h5, h6 {
    font-family: 'Raleway', sans-serif;
}

h2, h3 {
    font-size: 4.8rem;
    font-weight: 300;
    padding-bottom: 1rem;
    padding-top: 3rem;
    text-align: center;
    @media screen and (max-width: $mdmax) {
        font-size: 3.2rem;
    }
    &.extra--p {
        padding-bottom: 11rem;
        @media screen and (max-width: $mdmax) {
            padding-bottom: 5rem;
        }
    }
}

a {
    color: $base-color;
    cursor: pointer;
    &:visited {
        color: inherit;
    }
}

button {
    cursor: pointer;
}

small {
    font-weight: 100;
    font-size: 1.8rem;
}

input, select, textarea {
    background: #FFFFFF;
    border: 2px solid $base-color;
    border-radius: 5px;
    height: 4.5rem;
    font-family: 'Roboto', sans-serif;
    font-size: 1.8rem;
    padding: 1rem;
    width: 100%;
}

input {
    padding: 1rem 1.5rem;
}

textarea {
    height: 13.5rem;
    resize: vertical;
}

.underline {
    text-decoration: underline;
}

.container {
    margin: 0 auto;
    max-width: 1440px;
    padding-left: 11rem!important;
    padding-right: 11rem!important;
    width: 100%;
    @media screen and (max-width: $xxlmax) {
        max-width: 1200px;
        padding-left: 5rem!important;
        padding-right: 5rem!important;    
    }
    @media screen and (max-width: $xlmax) {
        max-width: 900px;
        padding-left: 2rem!important;
        padding-right: 2rem!important;    
    }
}

.hidden--mobile {
    display: none;
    @media screen and (min-width: $md) {
        display: flex;
    }
}

.hidden--desktop {
    display: none;
    @media screen and (max-width: $mdmax) {
        display: block;
    }
}

.circle {
    position: relative;
    &:after {
        background-color: rgba($error-color-dark, 0.2);
        border-radius: 50%;
        content: '';
        display: block;
        height: 5rem;
        position: absolute;
        right: -2rem;
        top: 2rem;
        width: 5rem;
    }
}

@keyframes updown {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(7px);
    }
}

.button {
    border-radius: 5px;
    cursor: pointer;
    display: block;
    font-size: 1.6rem;
    font-weight: 600;
    padding: 1rem 2rem;
    &:visited {
        color: inherit;
    }
}

.button--primary {
    background-color: transparent;
    border: 2px solid $accent-color-dark;
    color: $accent-color-dark;
    transition: background-color .3s ease, color .3s ease;
    &:hover {
        background-color: $accent-color-dark;
        color: #fff!important;
    }
}

.button--secondary {
    background-color: $accent-color-dark;
    border: 2px solid $accent-color-dark;
    color: #fff!important;
    transition: background-color .3s ease, border .3s ease;
    &:hover {
        background-color: $accent-color-light;
        border: 2px solid $accent-color-light;
    }
}

.arrow {
    animation: updown 1s infinite alternate ease-in-out;
    background-color: $base-color;
    display: block;
    height: 22px;
    position: relative;
    width: 2px;
    &:after {
        background-color: $base-color;
        bottom: -2px;
        content: '';
        display: block;
        height: 10px;
        left: -3px;
        position: absolute;
        transform: rotate(135deg);
        width: 2px;
    }
    &:before {
        background-color: $base-color;
        bottom: -2px;
        content: '';
        display: block;
        height: 10px;
        left: 3px;
        position: absolute;
        transform: rotate(-135deg);
        width: 2px;
    }
}

.logo {
    font-size: 2rem;
    font-weight: 900;
    .logo--dot {
        color: $accent-color-dark;
    }
}