// ----- MAIN ----- //
.main {
    h2 {
        text-align: left;
    }
    .projects {
        .projects__ctn {
            overflow:auto;
            padding-bottom: 2rem;
            scrollbar-color:  $accent-color-dark $soft-color; 
            scrollbar-width: thin; 
            white-space:nowrap; 
            .project__ctn {
                display: inline-block;
                height: 350px;
                padding: 2rem 2rem 0 0;
                width: 28%;
                @media screen and (max-width: $lgmax) {
                    width: 40%;
                }
                @media screen and (max-width: $smmax) {
                    width: 80%;
                }
                &:last-child {
                    padding-right: 0;
                }
                .project__image {
                    border-radius: 5px;
                    height: 100%;
                    object-fit: cover;
                    width: 100%;
                }
                .project__content {
                    .project__content__title {
                        align-items: flex-end;
                        border-bottom: 2px solid $base-color;
                        display: flex;
                        justify-content: space-between;
                        padding-bottom: 0.5rem;
                        .project__title {
                            font-size: 2rem;
                            font-weight: 500;
                            padding-bottom: 1rem;
                            text-align: left;
                        }
                        .button--arrow {
                            background-color: transparent;
                            border-radius: 50%;
                            padding: 1rem 2rem;
                            transition: background-color .3s ease;
                            width: 3rem;
                            .arrow {
                                animation: unset;
                                transform: rotate(-90deg);
                                transition: transform .3s ease;
                            }
                            &:hover {
                                background-color: rgba($accent-color-light, 0.3);
                                .arrow {
                                    transform: rotate(-135deg);
                                }
                            }
                        }
                    }
                    .project__date {
                        display: block;
                        font-size: 1.4rem;
                        font-weight: 100;
                        padding-top: 1.5rem;
                    }
                }
            }
        }
        .decorative {
            background-color: $accent-color-light;
            border-radius: 50%;
            height: 12px;
            margin: 7rem 0 2rem 0;
            position: relative;
            text-align: right;
            width: 12px;
            &:after, &:before {
                border-radius: 50%;
                content: "";
                display: block;
                height: 100%;
                position: absolute;
                width: 100%;
            }
            &:after {
                background-color: $error-color-dark;
                left: 36px;
            }
            &:before {
                background-color: $error-color;
                left: 72px;
            }
        }
    }
    .more__projects {
        background-color: $base-color;
        color: $soft-color;
        padding: 3rem 0 18rem 0;
        h2 {
            padding-bottom: 7rem;
        }
        .project__ctn {
            align-items: center;
            border-bottom: 1px solid $soft-color;
            display: flex;
            justify-content: space-between;
            padding: 2rem 0;
            @media screen and (max-width: $smmax) {
                align-items: flex-start;
                flex-direction: column;
            }
            &:last-child {
                border: unset;
            }
            .project__date {
                font-size: 1.6rem;
                font-weight: 100;
                @media screen and (max-width: $smmax) {
                    display: block;
                    margin-left: auto;
                    padding-top: 1rem;
                }
            }
        }
    }
}

/* width */
::-webkit-scrollbar {
    border-radius: 5px;
    height: 7px;
}

/* Track */
::-webkit-scrollbar-track {
    border: 2px solid $soft-color;
    border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: $accent-color-light;
    border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: $accent-color-dark;
}