// ----- MAIN ----- //
.main {
    margin: 0 auto;
    max-width: 2000px;
    padding-top: 13rem;
    width: 100%;
    .title {
        padding-bottom: 6rem;
        text-align: center;
    }
    .offices {
        background-color: $base-color;
        padding-bottom: 22rem;
        .select {
            align-items: flex-start;
            display: flex;
            flex-direction: column;
            position: relative;
            top: -4rem;
            .select__label {
                font-size: 1.4rem;
                font-weight: 500;
                padding: 0 2rem;
            }
            .select__input {
                background-color: #fff;
                border-radius: 5px;
                box-shadow: inset 0px 2px 2px rgba(0, 0, 0, 0.25);
                color: $base-color;
                font-family: 'Roboto', sans-serif;
                font-weight: 1.8rem;
                height: 4.5rem;
                min-width: 40rem;
                padding: 0 2rem;
                width: auto!important;
                @media screen and (max-width: $mdmax) {
                    min-width: 100%;
                }
            }
        }
        .map__ctn {
            height: 0;
            padding-bottom: 50%;
            position: relative;
            width: 100%;
            @media screen and (max-width: $mdmax) {
                padding-bottom: 75%;
            }
            @media screen and (max-width: $smmax) {
                padding-bottom: 100%;
            }
            .map {
                height: 100%;
                position: absolute;
                width: 100%;
            }
        }
    }
}